<template>
  <q-page class="contato">
    <Header />
    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="historia">
            <div class="container flex flex-center">
              <div class="row" style="height: 100%;">
                <div
                  class="column flex-center col-xs-12 col-md-4 column mobile"
                >
                  <h2>Nossa História</h2>
                </div>
                <div class="col-xs-12 col-md-8">
                  <p>
                    Desenhista industrial formada pela FAAP, atuei por muitos
                    anos na área de moda como estilista e empresária.
                  </p>
                  <p>
                    Em 2001 decidi buscar novos rumos e acabei encontrando mais
                    uma grande paixão.
                  </p>
                  <p>
                    Iniciei minha carreira como Corretora em grandes empresas do
                    mercado imobiliário e depois atuei como Gerente de Vendas
                    por 9 anos.
                  </p>
                  <p>
                    Em 2012, nossa equipe já buscava novos desafios. Nos unimos
                    a um cliente e amigo, Jonas Reggiani Monzillo e fundamos a
                    JM FOX.
                  </p>
                  <p>
                    Localizada nos Jardins, um dos bairros mais charmosos de São
                    Paulo, atuamos em regiões nobres, com uma equipe de
                    corretores especializada em imóveis de alto padrão.
                  </p>
                  <p>
                    Nossa filosofia é atender, entender e encantar nossos
                    clientes com seriedade, ética, transparência e
                    profissionalismo.
                  </p>
                  <h6>
                    Márcia Amaral Moraes<br />
                    CRECI 76.623-F<br />
                  </h6>
                  <h6>
                    JM FOX, excelência no atendimento do mercado imobiliário.
                  </h6>
                </div>
              </div>
            </div>
          </section>
          <section class="infraestrutura">
            <div class="container-fluid flex flex-center">
              <div class="row">
                <div class="col-xs-12 column mobile">
                  <h2>Infraestrutura</h2>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div style="width: 100%;">
      <div class="row items-center">
        <div
          class="col-xs-12 col-md-4"
          v-for="(_, index) in Array.from(new Array(3))"
          :key="index"
        >
          <q-img :src="`statics/Infraestrutura${index + 1}.jpeg`" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script src="./QuemSomos.js"></script>

<style lang="scss">
.historia {
  background: white;
  padding: 100px 0 120px 0;
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    position: relative;
    &:before {
      content: "Jm Fox";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      left: -30px;
      color: rgba(#bdbdbd, 0.2);
    }
  }
  & p {
    color: #828282;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  & h6 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold!important;
  }
}
.infraestrutura {
  position: relative;
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    text-align: center;
    &:before {
      content: "Nossa Empresa";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(#bdbdbd, 0.2);
    }
  }
}
</style>
