<template>
  <q-page class="contato">
    <Header />
    <q-img style="cursor: pointer" src="./../../assets/mapa.png" @click="openUrl('https://goo.gl/maps/JfwjCUJCByfwf8RV8')"></q-img>
    <section id="contato">
      <div class="container">
        <div class="row">
          <div class="col-12 flex flex-center">
            <q-form class="form-contato" @submit="enviar">
              <h2>Entre em contato</h2>
              <p>Ficamos felizes em conversar com nossos clientes</p>
              <div class="row q-pt-lg q-mb-sm q-col-gutter-sm">
                <div class="col-xs-12 col-sm-6">
                  <q-input
                    type="text"
                    outlined
                    bg-color="white"
                    dense
                    label="Seu Nome*"
                    :rules="[val => !!val || 'Campo Obrigatório']"
                  />
                </div>
                <div class="col-xs-12 col-sm-6">
                  <q-input
                    type="email"
                    outlined
                    bg-color="white"
                    dense
                    label="Email*"
                    :rules="[
                      val => !!val || 'Campo Obrigatório',
                      val => validarEmail(val) || 'Email inválido'
                    ]"
                  />
                </div>
                <div class="col-xs-12 col-sm-6">
                  <q-input
                    type="Telefone*"
                    outlined
                    bg-color="white"
                    dense
                    label="Email*"
                    :rules="[val => !!val || 'Campo Obrigatório']"
                  />
                </div>
                <div class="col-xs-12 col-sm-6">
                  <q-input
                    type="text"
                    outlined
                    bg-color="white"
                    dense
                    label="Assunto*"
                    :rules="[val => !!val || 'Campo Obrigatório']"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    type="textarea"
                    outlined
                    bg-color="white"
                    style="min-height: 96px;"
                    dense
                    label="Mensagem*"
                    :rules="[val => !!val || 'Campo Obrigatório']"
                  />
                </div>
              </div>
              <div class="col-12">
                <q-btn
                  label="Enviar"
                  no-caps
                  class="btn-enviar"
                  unelevated
                  type="submit"
                />
              </div>
            </q-form>
          </div>
        </div>
      </div>
    </section>
    <section class="sugestoes">
      <div class="container flex flex-center">
        <div class="row" style="width: 100%;">
          <div class="col-xs-12 column mobile">
            <h2>Sugestões de imóveis pra você</h2>
          </div>
          <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-1 relative-position">
            <CarrosselCards :margemBotoes="'30px'" :width="'276px'" :cards="Array.from(new Array(20))" />
          </div>
        </div>
      </div>
    </section>
  </q-page>
</template>

<script src="./Contato.js"></script>

<style lang="scss">
.contato {
  .form-contato {
    max-width: 766px;
    background: #ffffff;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 25px;
    margin-top: -100px;
    position: relative;
    & [class*="col-"] {
      margin-top: -10px;
    }
    & h2 {
      margin: 0;
      font-weight: bolder;
      font-size: 28px;
      line-height: 38px;
      color: #4f4f4f;
    }
    & p {
      color: #828282;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
    }
    & .btn-enviar {
      background: #ff8321;
      color: white;
      font-size: 20px;
      line-height: 27px;
      width: 200px;
      height: 50px;
    }
  }
  .sugestoes {
    background: white;
    padding: 60px 0 120px 0;
    & h2 {
      font-size: 36px;
      line-height: 34px;
      color: $primary;
      font-weight: bold;
      position: relative;
      text-align: center;
      &:before {
        content: "Imóveis";
        font-size: 72px;
        font-weight: bold;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(#bdbdbd, 0.2);
      }
    }
    & .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
    & p {
      color: #828282;
      font-size: 16px;
      line-height: 20px;
    }
    & .q-btn {
      border: 1px solid rgba(206, 145, 50, 0.2) !important;
      font-size: 16px;
      line-height: 22px;
      color: $secondary;
      padding: 0 20px;
    }
  }
}
</style>
