<template>
  <div class="card-imovel">
    <div class="container-img" @click="irRota('anuncio', { id: dados.id })">
      <q-img src="../assets/card-imovel.png" />
      <div class="overflow">
        <div>
          <div class="flex justify-end">
            <div class="tag">Venda</div>
          </div>
          <div class="row items-center">
            <div class="col-8">
              <h6>
                Apartamentos – JARDIM PAULISTA SAO PAULO
              </h6>
            </div>
            <div class="col-4 flex flex-center">
              <q-icon name="favorite_border" class="cursor-pointer"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-infos">
      <div class="flex items-center justify-between">
        <h3>R$ 2.200.000,00</h3>
        <span>Ref. 39124</span>
      </div>
      <p>Apartamento com reforma moderna e de muito bom gosto - 3 Quartos, 1 Suíte, 178m².</p>
    </div>
  </div>
</template>

<script src="./CardImovel.js"></script>

<style lang="scss">
.card-imovel {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 275px;
  & .card-infos {
    position: relative;
    padding: 16px 0;
    & h3 {
      font-weight: bolder;
      font-size: 22px;
      line-height: 30px;
      margin: 0;
      text-align: left;
    }
    & span {
      color: #BDBDBD;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
    }
  }
  & .container-img {
    position: relative;
    height: 380px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      & > .q-img {
        transform: scale(1.1);
        transition: all 0.2s ease-in;
      }
    }
    & .overflow {
      background: linear-gradient(
        180deg,
        rgba(10, 11, 15, 0) 0%,
        rgba(14, 17, 22, 0.72) 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      & > div {
        padding: 14px 7px 20px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & h6 {
          font-size: 18px;
          line-height: 20px;
          color: white;
          font-weight: bold;
          color: white;
          margin: 0;
        }
        & .q-icon {
          font-size: 24px;
          color: white;
        }
      }
    }
    & .q-img {
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 0.2s ease-out;
    }
    & .tag {
      width: max-content;
      color: white;
      font-size: 14px;
      line-height: 19px;
      background: #ff8321;
      border-radius: 3px;
      padding: 3px 10px;
    }
  }
}
</style>
